body{
     background-color: black;
     color: #fff;
     background-image: url(./bg.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     /* background-size: 100% 100%; */

 }
 table, tr, td {  
     border: 1px solid green;  
     border-collapse: collapse;
     padding: 10px;
     
 } 
 /* ten bang */
th{
     font-size: 25px;
     padding: 10px; 
     border: 1px solid;
     color: aqua;
     animation: doimau 10s infinite;
 } 
 a{
     background-color: #fff;
     color: blue;
 }
h1{
 animation: doimau 10s infinite;
}
del{
 color: red;
 
}
details{
 background-color: #000;
}
 /* doi mau */
 @keyframes doimau{
      0% {
        color: tomato;
      }
      20% {
        color: violet;
      }
      40% {
        color: skyblue;
      }
      60% {
        color: gold;
      }
      
      80% {
        color: chartreuse;
      }
      100% {
        color: tomato;
      }
 }

